<!-- add mailbox modal -->
<div class="modal fade" id="addMailboxModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.add_mailbox }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-cached-form="true" data-id="add_mailbox" role="form" autocomplete="off">
          <input type="hidden" value="0" name="force_pw_update">
          <input type="hidden" value="0" name="sogo_access">
          <input type="hidden" value="0" name="protocol_access">
          <input type="hidden" value="mailcow" name="authsource">

          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="local_part">{{ lang.add.mailbox_username }}</label>
            <div class="col-sm-10">
              <input type="text" pattern="[A-Za-z0-9\.!#$%&'*+/=?^_`{|}~-]+" autocorrect="off" autocapitalize="none" class="form-control" name="local_part" required>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="name">{{ lang.add.full_name }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name">
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="domain">{{ lang.add.domain }}</label>
            <div class="col-sm-10">
              <select class="full-width-select" data-live-search="true" id="addSelectDomain" name="domain" required>
                {% for domain in domains %}
                <option>{{ domain }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="description">{{ lang.mailbox.template }}</label>
            <div class="col-sm-10">
              <select data-live-search="true" id="mailbox_templates" class="form-control" title="{{ lang.mailbox.template }}">
              </select>
            </div>
          </div>
          <div id="mbox_add_pwds">
            <div class="row mb-2">
              <label class="control-label col-sm-2 text-sm-end text-sm-end" for="password">{{ lang.add.password }} (<a href="#" class="generate_password">{{ lang.add.generate }}</a>)</label>
              <div class="col-sm-10">
                <input type="password" data-pwgen-field="true" data-hibp="true" class="form-control" name="password" placeholder="" autocomplete="new-password" required>
              </div>
            </div>
            <div class="row mb-4">
              <label class="control-label col-sm-2 text-sm-end text-sm-end" for="password2">{{ lang.add.password_repeat }}</label>
              <div class="col-sm-10">
                <input type="password" data-pwgen-field="true" class="form-control" name="password2" placeholder="" autocomplete="new-password" required>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.add.tags }}</label>
            <div class="col-sm-10">
              <div class="form-control tag-box">
                <input type="text" class="tag-input" id="addMailbox_tags">
                <span class="btn tag-add"><i class="bi bi-plus-lg"></i></span>
                <input type="hidden" value="" name="tags" class="tag-values" />
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="addInputQuota">{{ lang.add.quota_mb }}
              <br /><span id="quotaBadge" class="badge bg-primary">max. - MiB</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="quota" min="0" max="" id="addInputQuota" disabled value="{{ lang.add.select_domain }}" required>
              <small class="text-muted">0 = ∞</small>
              <div class="badge fs-5 bg-warning addInputQuotaExhausted" style="display:none;">{{ lang.warning.quota_exceeded_scope }}</div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.user.quarantine_notification }}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <input type="radio" class="btn-check" name="quarantine_notification" id="quarantine_notification_never" autocomplete="off" value="never">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="quarantine_notification_never">{{ lang.user.never }}</label>

                <input type="radio" class="btn-check" name="quarantine_notification" id="quarantine_notification_hourly" autocomplete="off" value="hourly">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="quarantine_notification_hourly">{{ lang.user.hourly }}</label>

                <input type="radio" class="btn-check" name="quarantine_notification" id="quarantine_notification_daily" autocomplete="off" value="daily">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="quarantine_notification_daily">{{ lang.user.daily }}</label>

                <input type="radio" class="btn-check" name="quarantine_notification" id="quarantine_notification_weekly" autocomplete="off" value="weekly">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="quarantine_notification_weekly">{{ lang.user.weekly }}</label>
              </div>
              <p class="text-muted"><small>{{ lang.user.quarantine_notification_info }}</small></p>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.user.quarantine_category }}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <input type="radio" class="btn-check" name="quarantine_category" id="quarantine_category_reject" autocomplete="off" value="reject">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="quarantine_category_reject">{{ lang.user.q_reject }}</label>

                <input type="radio" class="btn-check" name="quarantine_category" id="quarantine_category_add_header" autocomplete="off" value="add_header">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="quarantine_category_add_header">{{ lang.user.q_add_header }}</label>

                <input type="radio" class="btn-check" name="quarantine_category" id="quarantine_category_all" autocomplete="off" value="all">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="quarantine_category_all">{{ lang.user.q_all }}</label>
              </div>
              <p class="text-muted"><small>{{ lang.user.quarantine_category_info }}</small></p>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="tls_enforce_in">{{ lang.user.tls_policy }}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <input type="checkbox" class="btn-check" name="tls_enforce_in" id="tls_enforce_in" autocomplete="off" value="1">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="tls_enforce_in">{{ lang.user.tls_enforce_in }}</label>

                <input type="checkbox" class="btn-check" name="tls_enforce_out" id="tls_enforce_out" autocomplete="off" value="1">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="tls_enforce_out">{{ lang.user.tls_enforce_out }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="protocol_access">{{ lang.edit.allowed_protocols }}</label>
            <div class="col-sm-10">
              <select name="protocol_access" id="protocol_access" multiple class="form-control">
                <option value="imap">IMAP</option>
                <option value="pop3">POP3</option>
                <option value="smtp">SMTP</option>
                <option value="sieve">Sieve</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">ACL</label>
            <div class="col-sm-10">
              <select id="user_acl" name="acl" multiple class="form-control">
                  <option value="spam_alias" selected>{{ lang.acl["spam_alias"] }}</option>
                  <option value="tls_policy" selected>{{ lang.acl["tls_policy"] }}</option>
                  <option value="spam_score" selected>{{ lang.acl["spam_score"] }}</option>
                  <option value="spam_policy" selected>{{ lang.acl["spam_policy"] }}</option>
                  <option value="delimiter_action" selected>{{ lang.acl["delimiter_action"] }}</option>
                  <option value="syncjobs">{{ lang.acl["syncjobs"] }}</option>
                  <option value="eas_reset" selected>{{ lang.acl["eas_reset"] }}</option>
                  <option value="sogo_profile_reset">{{ lang.acl["sogo_profile_reset"] }}</option>
                  <option value="pushover" selected>{{ lang.acl["pushover"] }}</option>
                  <option value="quarantine" selected>{{ lang.acl["quarantine"] }}</option>
                  <option value="quarantine_attachments" selected>{{ lang.acl["quarantine_attachments"] }}</option>
                  <option value="quarantine_notification" selected>{{ lang.acl["quarantine_notification"] }}</option>
                  <option value="quarantine_category" selected>{{ lang.acl["quarantine_category"] }}</option>
                  <option value="app_passwds" selected>{{ lang.acl["app_passwds"] }}</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.acl.ratelimit }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input name="rl_value" id="rl_value" type="number" autocomplete="off" value="" class="form-control mb-2" placeholder="{{ lang.ratelimit.disabled }}">
                <select name="rl_frame" id="rl_frame" class="form-control">
                {% include 'mailbox/rl-frame.twig' %}
                </select>
              </div>
              <p class="text-muted mt-1">{{ lang.edit.mbox_rl_info }}</p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <select name="active" id="mbox_active" class="form-control">
                <option value="1" selected>{{ lang.add.active }}</option>
                <option value="2">{{ lang.add.disable_login }}</option>
                <option value="0">{{ lang.add.inactive }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="force_pw_update" id="force_pw_update"> {{ lang.edit.force_pw_update }}</label>
                <small class="text-muted">{{ lang.edit.force_pw_update_info|format(ui_texts.main_name) }}</small>
              </div>
            </div>
          </div>
          {% if not skip_sogo %}
          <div class="row">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="sogo_access" id="sogo_access"> {{ lang.edit.sogo_access }}</label>
                <small class="text-muted">{{ lang.edit.sogo_access_info }}</small>
              </div>
            </div>
          </div>
          {% endif %}
          <hr>
          <div class="row">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="add_mailbox" data-api-url='add/mailbox' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add mailbox modal -->
<!-- add mailbox template modal -->
<div class="modal fade" id="addMailboxTemplateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.add_template }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-id="addmailbox_template" role="form" method="post">
          <input type="hidden" value="default" name="sender_acl">
          <input type="hidden" value="0" name="force_pw_update">
          <input type="hidden" value="0" name="sogo_access">
          <input type="hidden" value="0" name="protocol_access">

          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="template">{{ lang.mailbox.template }}</label>
            <div class="col-sm-10">
              <div class="input-group mb-3">
                <input type="text" name="template" class="form-control" aria-label="Text input with dropdown button" value="" />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.add.tags }}</label>
            <div class="col-sm-10">
              <div class="form-control tag-box">
                <input type="text" class="tag-input" id="addMailbox_tags">
                <span class="btn tag-add"><i class="bi bi-plus-lg"></i></span>
                <input type="hidden" value="" name="tags" class="tag-values" />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="quota">{{ lang.edit.quota_mb }}</label>
            <div class="col-sm-10">
              <input type="number" name="quota" style="width:100%" min="0" value="" class="form-control">
              <small class="text-muted">0 = ∞</small>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.user.quarantine_notification }}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <input type="radio" class="btn-check" name="quarantine_notification" id="template_quarantine_notification_never" autocomplete="off" value="never">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="template_quarantine_notification_never">{{ lang.user.never }}</label>

                <input type="radio" class="btn-check" name="quarantine_notification" id="template_quarantine_notification_hourly" autocomplete="off" value="hourly">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="template_quarantine_notification_hourly">{{ lang.user.hourly }}</label>

                <input type="radio" class="btn-check" name="quarantine_notification" id="template_quarantine_notification_daily" autocomplete="off" value="daily">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="template_quarantine_notification_daily">{{ lang.user.daily }}</label>

                <input type="radio" class="btn-check" name="quarantine_notification" id="template_quarantine_notification_weekly" autocomplete="off" value="weekly">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="template_quarantine_notification_weekly">{{ lang.user.weekly }}</label>
              </div>
              <p class="text-muted"><small>{{ lang.user.quarantine_notification_info }}</small></p>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.user.quarantine_category }}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <input type="radio" class="btn-check" name="quarantine_category" id="template_quarantine_category_reject" autocomplete="off" value="reject" >
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="template_quarantine_category_reject">{{ lang.user.q_reject }}</label>

                <input type="radio" class="btn-check" name="quarantine_category" id="template_quarantine_category_add_header" autocomplete="off" value="add_header">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="template_quarantine_category_add_header">{{ lang.user.q_add_header }}</label>

                <input type="radio" class="btn-check" name="quarantine_category" id="template_quarantine_category_all" autocomplete="off" value="all">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="template_quarantine_category_all">{{ lang.user.q_all }}</label>
              </div>
              <p class="text-muted"><small>{{ lang.user.quarantine_category_info }}</small></p>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="sender_acl">{{ lang.user.tls_policy }}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <input type="checkbox" class="btn-check" name="tls_enforce_in" id="template_tls_enforce_in" autocomplete="off" value="1">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="template_tls_enforce_in">{{ lang.user.tls_enforce_in }}</label>

                <input type="checkbox" class="btn-check" name="tls_enforce_out" id="template_tls_enforce_out" autocomplete="off" value="1">
                <label class="btn btn-sm btn-xs-quart d-block d-sm-inline btn-light" for="template_tls_enforce_out">{{ lang.user.tls_enforce_out }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="protocol_access">{{ lang.edit.allowed_protocols }}</label>
            <div class="col-sm-10">
              <select name="protocol_access" multiple class="form-control">
                <option value="imap" selected>IMAP</option>
                <option value="pop3" selected>POP3</option>
                <option value="smtp" selected>SMTP</option>
                <option value="sieve" selected>Sieve</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">ACL</label>
            <div class="col-sm-10">
              <select id="template_user_acl" name="acl" size="10" multiple class="form-control">
                <option value="spam_alias" selected>{{ lang.acl["spam_alias"] }}</option>
                <option value="tls_policy" selected>{{ lang.acl["tls_policy"] }}</option>
                <option value="spam_score" selected>{{ lang.acl["spam_score"] }}</option>
                <option value="spam_policy" selected>{{ lang.acl["spam_policy"] }}</option>
                <option value="delimiter_action" selected>{{ lang.acl["delimiter_action"] }}</option>
                <option value="syncjobs">{{ lang.acl["syncjobs"] }}</option>
                <option value="eas_reset" selected>{{ lang.acl["eas_reset"] }}</option>
                <option value="sogo_profile_reset">{{ lang.acl["sogo_profile_reset"] }}</option>
                <option value="pushover" selected>{{ lang.acl["pushover"] }}</option>
                <option value="quarantine" selected>{{ lang.acl["quarantine"] }}</option>
                <option value="quarantine_attachments" selected>{{ lang.acl["quarantine_attachments"] }}</option>
                <option value="quarantine_notification" selected>{{ lang.acl["quarantine_notification"] }}</option>
                <option value="quarantine_category" selected>{{ lang.acl["quarantine_category"] }}</option>
                <option value="app_passwds" selected>{{ lang.acl["app_passwds"] }}</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.acl.ratelimit }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input name="rl_value" type="number" autocomplete="off" value="" class="form-control mb-2" placeholder="{{ lang.ratelimit.disabled }}">
                <select name="rl_frame" class="form-control">
                {% include 'mailbox/rl-frame.twig' %}
                </select>
              </div>
              <p class="text-muted mt-1">{{ lang.edit.mbox_rl_info }}</p>
            </div>
          </div>
          <hr>
          <div class="row my-2">
            <div class="offset-sm-2 col-sm-10">
              <select id="mbox_acitve" name="active" class="form-control">
                <option value="1" selected>{{ lang.edit.active }}</option>
                <option value="2">{{ lang.edit.disable_login }}</option>
                <option value="0">{{ lang.edit.inactive }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="force_pw_update"> {{ lang.edit.force_pw_update }}</label>
                <small class="text-muted">{{ lang.edit.force_pw_update_info|format(ui_texts.main_name) }}</small>
              </div>
            </div>
          </div>
          {% if not skip_sogo %}
          <div class="row">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="sogo_access"> {{ lang.edit.sogo_access }}</label>
                <small class="text-muted">{{ lang.edit.sogo_access_info }}</small>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="row my-2">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="addmailbox_template" data-api-url='add/mailbox/template' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add mailbox template modal -->
<!-- add domain modal -->
<div class="modal fade" id="addDomainModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.add_domain }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-cached-form="true" data-id="add_domain" role="form">
          <input type="hidden" value="0" name="gal">
          <input type="hidden" value="0" name="active">
          <input type="hidden" value="0" name="backupmx">
          <input type="hidden" value="0" name="relay_all_recipients">
          <input type="hidden" value="0" name="relay_unknown_only">

          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="domain">{{ lang.add.domain }}</label>
            <div class="col-sm-10">
              <input type="text" autocorrect="off" autocapitalize="none" class="form-control" name="domain" required>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="description">{{ lang.add.description }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="description">
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="description">{{ lang.mailbox.template }}</label>
            <div class="col-sm-10">
              <select data-live-search="true" id="domain_templates" class="form-control">
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.add.tags }}</label>
            <div class="col-sm-10">
              <div class="form-control tag-box">
                <input type="text" class="tag-input" id="addDomain_tags">
                <span class="btn tag-add"><i class="bi bi-plus-lg"></i></span>
                <input type="hidden" value="" name="tags" class="tag-values" />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="aliases">{{ lang.add.max_aliases }}</label>
            <div class="col-sm-10">
              <input type="number" id="addDomain_max_aliases" class="form-control" name="aliases" value="400" required>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="mailboxes">{{ lang.add.max_mailboxes }}</label>
            <div class="col-sm-10">
              <input type="number" id="addDomain_max_mailboxes" class="form-control" name="mailboxes" value="10" required>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="defquota">{{ lang.add.mailbox_quota_def }}</label>
            <div class="col-sm-10">
              <input type="number" id="addDomain_mailbox_quota_def" class="form-control" name="defquota" value="3072" required>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="maxquota">{{ lang.add.mailbox_quota_m }}</label>
            <div class="col-sm-10">
              <input type="number" id="addDomain_mailbox_quota_m" class="form-control" name="maxquota" value="10240" required>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="quota">{{ lang.add.domain_quota_m }}</label>
            <div class="col-sm-10">
              <input type="number" id="addDomain_domain_quota_m" class="form-control" name="quota" value="10240" required>
            </div>
          </div>
          {% if not skip_sogo %}
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" id="addDomain_gal" value="1" name="gal" checked> {{ lang.edit.gal }}</label>
                <small class="text-muted">{{ lang.edit.gal_info|raw }}</small>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" id="addDomain_active" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end" for="rl_frame">{{ lang.acl.ratelimit }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input name="rl_value" id="addDomain_rl_value" type="number" class="form-control" placeholder="{{ lang.ratelimit.disabled }}">
                <select name="rl_frame" id="addDomain_rl_frame" class="form-control">
                {% include 'mailbox/rl-frame.twig' %}
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="dkim_selector">{{ lang.admin.dkim_domains_selector }}</label>
            <div class="col-sm-10">
              <input class="form-control" id="dkim_selector" name="dkim_selector" value="dkim">
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="key_size">{{ lang.admin.dkim_key_length }}</label>
            <div class="col-sm-10">
              <select data-style="btn btn-light" class="form-control" id="key_size" name="key_size">
                <option data-subtext="bits" value="1024">1024</option>
                <option data-subtext="bits" value="2048" selected>2048</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.add.backup_mx_options }}</label>
            <div class="col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" id="addDomain_relay_domain" value="1" name="backupmx"> {{ lang.add.relay_domain }}</label>
                <br>
                <label><input type="checkbox" class="form-check-input" id="addDomain_relay_all" value="1" name="relay_all_recipients"> {{ lang.add.relay_all }}</label>
                <p>{{ lang.add.relay_all_info|raw }}</p>
                <label><input type="checkbox" class="form-check-input" id="addDomain_relay_unknown_only" value="1" name="relay_unknown_only"> {{ lang.add.relay_unknown_only }}</label>
                <br>
                <p>{{ lang.add.relay_transport_info|raw }}</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10 btn-group">
              {% if not skip_sogo %}
              <button class="btn btn-xs-lg btn-xs-half d-block d-sm-inline btn-secondary" data-action="add_item" data-id="add_domain" data-api-url='add/domain' data-api-attr='{"tags": []}' href="#">{{ lang.add.add_domain_only }}</button>
              <button class="btn btn-xs-lg btn-xs-half d-block d-sm-inline btn-secondary" data-action="add_item" data-id="add_domain" data-api-url='add/domain' data-api-attr='{"restart_sogo":"1", "tags": []}' href="#">{{ lang.add.add_domain_restart }}</button>
              {% else %}
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="add_domain" data-api-url='add/domain' data-api-attr='{"tags": []}' href="#">{{ lang.add.add }}</button>
              {% endif %}
            </div>
          </div>
          {# TODO: Separate SOGo-related text #}
          {% if not skip_sogo %}
          <p><i class="bi bi-shield-fill-exclamation text-danger"></i> {{ lang.add.post_domain_add|raw }}</p>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div><!-- add domain modal -->
<!-- add domain template modal -->
<div class="modal fade" id="addDomainTemplateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.add_template }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form data-id="adddomain_template" class="form-horizontal" role="form" method="post">
          {% if mailcow_cc_role == 'admin' %}
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="template">{{ lang.mailbox.template }}</label>
            <div class="col-sm-10">
              <div class="input-group mb-3">
                <input type="text" name="template" class="form-control" aria-label="Text input with dropdown button" value="" />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.add.tags }}</label>
            <div class="col-sm-10">
              <div class="form-control tag-box">
                <input type="text" class="tag-input">
                <span class="btn tag-add"><i class="bi bi-plus-lg"></i></span>
                <input type="hidden" value="" name="tags" class="tag-values" />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="max_num_aliases_for_domain">{{ lang.add.max_aliases }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="max_num_aliases_for_domain" value="">
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="max_num_mboxes_for_domain">{{ lang.add.max_mailboxes }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="max_num_mboxes_for_domain" value="">
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="def_quota_for_mbox">{{ lang.add.mailbox_quota_def }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="def_quota_for_mbox" value="">
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="max_quota_for_mbox">{{ lang.add.mailbox_quota_m }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="max_quota_for_mbox" value="">
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="max_quota_for_domain">{{ lang.add.domain_quota_m }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="max_quota_for_domain" value="">
            </div>
          </div>
          <div class="row">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="gal" checked> {{ lang.add.gal }}</label>
                <small class="text-muted">{{ lang.add.gal_info|raw }}</small>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.edit.ratelimit }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input name="rl_value" type="number" value="" autocomplete="off" class="form-control mb-4" placeholder="{{ lang.ratelimit.disabled }}">
                <select name="rl_frame" class="form-control">
                {% include 'mailbox/rl-frame.twig' %}
                </select>
              </div>
            </div>
          </div>
          {% endif %}
          <hr>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="dkim_selector">{{ lang.admin.dkim_domains_selector }}</label>
            <div class="col-sm-10">
              <input class="form-control" id="dkim_selector" name="dkim_selector" value="dkim">
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="key_size">{{ lang.admin.dkim_key_length }}</label>
            <div class="col-sm-10">
              <select data-style="btn btn-light" class="form-control" id="key_size" name="key_size">
                <option data-subtext="bits">1024</option>
                <option data-subtext="bits" selected>2048</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end">{{ lang.edit.backup_mx_options }}</label>
            <div class="col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="backupmx"> {{ lang.edit.relay_domain }}</label>
                <br>
                <label><input type="checkbox" class="form-check-input" value="1" name="relay_all_recipients"> {{ lang.edit.relay_all }}</label>
                <p>{{ lang.edit.relay_all_info|raw }}</p>
                <label><input type="checkbox" class="form-check-input" value="1" name="relay_unknown_only"> {{ lang.edit.relay_unknown_only }}</label>
                <br>
                <p>{{ lang.edit.relay_transport_info|raw }}</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="adddomain_template" data-item="{{ domain }}" data-api-url='add/domain/template' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add domain template modal -->
<!-- add resource modal -->
<div class="modal fade" id="addResourceModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.add_resource }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-cached-form="true" role="form" data-id="add_resource">
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="description">{{ lang.add.description }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="description" required>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="domain">{{ lang.add.domain }}</label>
            <div class="col-sm-10">
              <select data-live-search="true" name="domain" title="{{ lang.add.select }}" required>
                {% for domain in domains %}
                  <option>{{ domain }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="domain">{{ lang.add.kind }}</label>
            <div class="col-sm-10">
              <select name="kind" title="{{ lang.add.select }}" required>
                <option value="location">Location</option>
                <option value="group">Group</option>
                <option value="thing">Thing</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end text-sm-end" for="multiple_bookings_select">{{ lang.add.multiple_bookings }}</label>
            <div class="col-sm-10">
              <select name="multiple_bookings_select" id="multiple_bookings_select" title="{{ lang.add.select }}" required>
                <option value="0">{{ lang.mailbox.booking_null }}</option>
                <option value="-1" selected>{{ lang.mailbox.booking_ltnull }}</option>
                <option value="custom">{{ lang.mailbox.booking_custom }}</option>
              </select>
              <div style="display:none" id="multiple_bookings_custom_div">
                <hr>
                <input type="number" class="form-control" name="multiple_bookings_custom" id="multiple_bookings_custom">
              </div>
              <input type="hidden" name="multiple_bookings" id="multiple_bookings">
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="add_resource" data-api-url='add/resource' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add resource modal -->
<!-- add alias modal -->
<div class="modal fade" id="addAliasModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.add_alias }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-cached-form="true" role="form" data-id="add_alias">
          <input type="hidden" value="0" name="active">
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="address">{{ lang.add.alias_address }}</label>
            <div class="col-sm-10">
              <textarea autocorrect="off" autocapitalize="none" class="form-control" rows="5" name="address" id="address" required></textarea>
              <p>{{ lang.add.alias_address_info|raw }}</p>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end" for="goto">{{ lang.add.target_address }}</label>
            <div class="col-sm-10">
              <textarea id="textarea_alias_goto" autocorrect="off" autocapitalize="none" class="form-control" rows="5" id="goto" name="goto" required></textarea>
              <p>{{ lang.add.target_address_info|raw }}</p>
              <div class="form-check">
                <label><input class="form-check-input goto_checkbox" type="checkbox" value="1" name="goto_null"> {{ lang.add.goto_null }}</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input goto_checkbox" type="checkbox" value="1" name="goto_spam"> {{ lang.add.goto_spam|raw }}</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input goto_checkbox" type="checkbox" value="1" name="goto_ham"> {{ lang.add.goto_ham|raw }}</label>
              </div>
              {% if not skip_sogo %}
              <hr>
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="sogo_visible" checked> {{ lang.edit.sogo_visible }}</label>
              </div>
              <p class="text-muted">{{ lang.edit.sogo_visible_info }}</p>
              {% endif %}
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="add_alias" data-api-url='add/alias' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add alias modal -->
<!-- add domain alias modal -->
<div class="modal fade" id="addAliasDomainModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.add_domain_alias }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-cached-form="true" role="form" data-id="add_alias_domain">
          <input type="hidden" value="0" name="active">
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="alias_domain">{{ lang.add.alias_domain }}</label>
            <div class="col-sm-10">
              <textarea autocorrect="off" autocapitalize="none" class="form-control" rows="5" name="alias_domain" id="alias_domain" required></textarea>
              <p>{{ lang.add.alias_domain_info|raw }}</p>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end" for="target_domain">{{ lang.add.target_domain }}</label>
            <div class="col-sm-10">
              <select data-live-search="true" name="target_domain" title="{{ lang.add.select }}" required>
                {% for domain in domains %}
                  <option>{{ domain }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="rl_frame">{{ lang.acl.ratelimit }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input name="rl_value" type="number" class="form-control" placeholder="{{ lang.ratelimit.disabled }}">
                <select name="rl_frame" class="form-control">
                {% include 'mailbox/rl-frame.twig' %}
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="dkim_selector2">{{ lang.admin.dkim_domains_selector }}</label>
            <div class="col-sm-10">
              <input class="form-control" id="dkim_selector2" name="dkim_selector" value="dkim">
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end" for="key_size2">{{ lang.admin.dkim_key_length }}</label>
            <div class="col-sm-10">
              <select data-style="btn btn-light" class="form-control" id="key_size2" name="key_size">
                <option data-subtext="bits">1024</option>
                <option data-subtext="bits" selected>2048</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="add_alias_domain" data-api-url='add/alias-domain' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add domain alias modal -->
<!-- add sync job modal -->
<div class="modal fade" id="addSyncJobModalAdmin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.add.syncjob }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">{{ lang.add.syncjob_hint }}</p>
        <form class="form-horizontal" data-cached-form="false" role="form" data-id="add_syncjob">
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="username">{{ lang.add.username }}</label>
            <div class="col-sm-10">
              <select data-live-search="true" name="username" title="{{ lang.add.select }}" required>
                {% for mailbox in mailboxes %}
                  <option>{{ mailbox }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="host1">{{ lang.add.hostname }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="host1" required>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="port1">{{ lang.add.port }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="port1" min="1" max="65535" value="143" required>
              <small class="text-muted">1-65535</small>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="user1">{{ lang.add.username }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="user1" required>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="password1">{{ lang.add.password }}</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password1" required>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="enc1">{{ lang.add.enc_method }}</label>
            <div class="col-sm-10">
              <select name="enc1" title="{{ lang.add.select }}" required>
                <option value="SSL" selected>SSL</option>
                <option value="TLS">STARTTLS</option>
                <option value="PLAIN">PLAIN</option>
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="mins_interval">{{ lang.add.mins_interval }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="mins_interval" min="1" max="43800" value="20" required>
              <small class="text-muted">1-43800</small>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="subfolder2">{{ lang.edit.subfolder2|raw }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="subfolder2" value="">
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="maxage">{{ lang.edit.maxage|raw }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="maxage" min="0" max="32000" value="0">
              <small class="text-muted">0-32000</small>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="maxbytespersecond">{{ lang.edit.maxbytespersecond|raw }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="maxbytespersecond" min="0" max="125000000" value="0">
              <small class="text-muted">0-125000000</small>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="timeout1">{{ lang.edit.timeout1 }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="timeout1" min="1" max="32000" value="600">
              <small class="text-muted">1-32000</small>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="timeout2">{{ lang.edit.timeout2 }}</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="timeout2" min="1" max="32000" value="600">
              <small class="text-muted">1-32000</small>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="exclude">{{ lang.add.exclude }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="exclude" value="(?i)spam|(?i)junk">
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end" for="custom_params">{{ lang.add.custom_params }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="custom_params" placeholder="--some-param=xy --other-param=yx">
              <small class="text-muted">{{ lang.add.custom_params_hint }}</small>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="delete2duplicates" checked> {{ lang.add.delete2duplicates }} (--delete2duplicates)</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="delete1"> {{ lang.add.delete1 }} (--delete1)</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="delete2"> {{ lang.add.delete2 }} (--delete2)</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="automap" checked> {{ lang.add.automap }} (--automap)</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="skipcrossduplicates"> {{ lang.add.skipcrossduplicates }} (--skipcrossduplicates)</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="subscribeall" checked> {{ lang.add.subscribeall }} (--subscribeall)</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="dry"> {{ lang.add.dry }} (--dry)</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="add_syncjob" data-api-url='add/syncjob' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add sync job modal -->
<!-- add add_filter modal -->
<div class="modal fade" id="addFilterModalAdmin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Filter</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-cached-form="true" role="form" data-id="add_filter">
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="username">{{ lang.add.username }}</label>
            <div class="col-sm-10">
              <select data-live-search="true" name="username" required>
                {% for mailbox in mailboxes %}
                  <option>{{ mailbox }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="filter_type">{{ lang.add.sieve_type }}</label>
            <div class="col-sm-10">
              <select id="addFilterType" name="filter_type" required>
                <option value="prefilter">Prefilter</option>
                <option value="postfilter">Postfilter</option>
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="script_desc">{{ lang.add.sieve_desc }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="script_desc" name="script_desc" required maxlength="255">
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end" for="script_data">Script:</label>
            <div class="col-sm-10">
              <textarea autocorrect="off" spellcheck="false" autocapitalize="none" class="form-control textarea-code script_data" rows="20" name="script_data" required></textarea>
              <p class="text-muted">{{ lang.add.activate_filter_warn }}</p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10 add_filter_btns btn-group">
              <button class="btn btn-xs-lg btn-xs-half d-block d-sm-inline btn-secondary validate_sieve" href="#">{{ lang.add.validate }}</button>
              <button class="btn btn-xs-lg btn-xs-half d-block d-sm-inline btn-success add_sieve_script" data-action="add_item" data-id="add_filter" data-api-url='add/filter' data-api-attr='{}' href="#" disabled>{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
        {{ lang.mailbox.sieve_preset_header|raw }}
        <ul id="sieve_presets"></ul>
      </div>
    </div>
  </div>
</div><!-- add add_filter modal -->
<!-- add add_bcc modal -->
<div class="modal fade" id="addBCCModalAdmin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.bcc_maps }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-cached-form="true" role="form" data-id="add_bcc">
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="local_dest">{{ lang.mailbox.bcc_local_dest }}</label>
            <div class="col-sm-10">
              <select id="bcc-local-dest" data-live-search="true" data-size="20" name="local_dest" required>
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="type">{{ lang.mailbox.bcc_map_type }}</label>
            <div class="col-sm-10">
              <select name="type" required>
                <option value="sender">{{ lang.mailbox.bcc_sender_map }}</option>
                <option value="rcpt">{{ lang.mailbox.bcc_rcpt_map }}</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end" for="bcc_dest">{{ lang.mailbox.bcc_destination }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="bcc_dest">
              <small>{{ lang.add.bcc_dest_format|raw }}</small>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="add_bcc" data-api-url='add/bcc' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add add_bcc modal -->
<!-- add add_recipient_map modal -->
<div class="modal fade" id="addRecipientMapModalAdmin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.recipient_maps }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-cached-form="true" role="form" data-id="add_recipient_map">
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="recipient_map_old">{{ lang.mailbox.recipient_map_old }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="recipient_map_old">
              <small>{{ lang.mailbox.recipient_map_old_info }}</small>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end" for="recipient_map_new">{{ lang.mailbox.recipient_map_new }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="recipient_map_new">
              <small>{{ lang.mailbox.recipient_map_new_info }}</small>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="add_recipient_map" data-api-url='add/recipient_map' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add add_recipient_map modal -->
<!-- add add_tls_policy_map modal -->
<div class="modal fade" id="addTLSPolicyMapAdmin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.mailbox.tls_policy_maps }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" data-cached-form="true" role="form" data-id="add_tls_policy_map">
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="dest">{{ lang.mailbox.tls_map_dest }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="dest">
              <small>{{ lang.mailbox.tls_map_dest_info }}</small>
            </div>
          </div>
          <div class="row mb-2">
            <label class="control-label col-sm-2 text-sm-end" for="policy">{{ lang.mailbox.tls_map_policy }}</label>
            <div class="col-sm-10">
              <select class="full-width-select" name="policy" required>
                <option value="none">none</option>
                <option value="may">may</option>
                <option value="encrypt">encrypt</option>
                <option value="dane">dane</option>
                <option value="dane-only">dane-only</option>
                <option value="fingerprint">fingerprint</option>
                <option value="verify">verify</option>
                <option value="secure">secure</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <label class="control-label col-sm-2 text-sm-end" for="parameters">{{ lang.mailbox.tls_map_parameters }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="parameters">
              <small>{{ lang.mailbox.tls_map_parameters_info }}</small>
            </div>
          </div>
          <div class="row mb-2">
            <div class="offset-sm-2 col-sm-10">
              <div class="form-check">
                <label><input type="checkbox" class="form-check-input" value="1" name="active" checked> {{ lang.add.active }}</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-sm-2 col-sm-10">
              <button class="btn btn-xs-lg d-block d-sm-inline btn-success" data-action="add_item" data-id="add_tls_policy_map" data-api-url='add/tls-policy-map' data-api-attr='{}' href="#">{{ lang.admin.add }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- add add_tls_policy_map modal -->
<!-- log modal -->
<div class="modal fade" id="syncjobLogModal" tabindex="-1" role="dialog" aria-labelledby="syncjobLogModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Log</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" rows="20" id="logText" spellcheck="false"></textarea>
      </div>
    </div>
  </div>
</div><!-- log modal -->
<!-- DNS info modal -->
<div class="modal fade" id="dnsInfoModal" tabindex="-1" role="dialog" aria-labelledby="dnsInfoModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ lang.diagnostics.dns_records }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>{{ lang.diagnostics.dns_records_24hours }}</p>
        <div class="dns-modal-body"></div>
        <p>{{ lang.diagnostics.dns_records_docs|raw }}</p>
      </div>
    </div>
  </div>
</div><!-- DNS info modal -->
