{% if fido2_data %}
  {% for key_info in fido2_data %}
    <tr>
      <td>
        {% if fido2_cid == key_info.cid %}
          <i class="bi bi-unlock-fill"></i>
        {% endif %}
        {% if key_info.fn %}
          {{ key_info.fn }}
        {% else %}
          {{ key_info.subject }}
        {% endif %}
      </td>
      <td style="min-width:240px;text-align: right">
        <form style="display:inline;" method="post">
          <input type="hidden" name="unset_fido2_key" value="{{ key_info.cid }}">
          <div class="btn-group">
            <a href="#" class="btn btn-xs btn-default" data-cid="{{ key_info.cid }}" data-subject="{{ key_info.subject|base64_encode }}" data-toggle="modal" data-target="#fido2ChangeFn">
              <i class="bi bi-pencil-fill"></i> {{ lang.fido2.rename }}
            </a>
            <a href="#" onClick='return confirm("{{ lang.admin.ays }}")?$(this).closest("form").submit():"";' class="btn btn-xs btn-danger">
              <i class="bi bi-trash"></i> {{ lang.admin.remove }}
            </a>
          </div>
        </form>
      </td>
    </tr>
  {% endfor %}
{% endif %}
