{% extends 'edit.twig' %}

{% block inner_content %}
{% if result %}
<h4>OAuth2</h4>
<form data-id="oauth2client" class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <label class="control-label col-sm-2" for="client_id">{{ lang.edit.client_id }}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="client_id" id="client_id" value="{{ result.client_id }}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="client_secret">{{ lang.edit.client_secret }}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="client_secret" id="client_secret" value="{{ result.client_secret }}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="scope">{{ lang.edit.scope }}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="scope" id="scope" value="{{ result.scope }}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="redirect_uri">{{ lang.edit.redirect_uri }}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="redirect_uri" id="redirect_uri" value="{{ result.redirect_uri }}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-xs-lg visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline btn-default" data-action="edit_selected" data-id="oauth2client" data-item="{{ oauth2client }}" data-api-url='edit/oauth2-client' data-api-attr='{}' href="#">{{ lang.admin.save }}</button>
    </div>
  </div>
</form>
{% else %}
  {{ parent() }}
{% endif %}
{% endblock %}
