<div class="tab-pane fade" id="tab-config-quota" role="tabpanel" aria-labelledby="tab-config-quota">
  <div class="card mb-4">
    <div class="card-header d-flex fs-5">
      <button class="btn d-md-none flex-grow-1 text-start" data-bs-target="#collapse-tab-config-quota" data-bs-toggle="collapse" aria-controls="collapse-tab-config-quota">
        {{ lang.admin.quota_notifications }}
      </button>
      <span class="d-none d-md-block">{{ lang.admin.quota_notifications }}</span>
    </div>
    <div id="collapse-tab-config-quota" class="card-body collapse" data-bs-parent="#admin-content">
      <p>{{ lang.admin.quota_notifications_info }}</p>
      <form class="form" role="form" data-id="quota_notification" method="post">
        <div class="row mb-4">
          <div class="col-sm-6">
            <div>
              <label for="quota_notification_sender">{{ lang.admin.quota_notification_sender }}:</label>
              <input type="email" class="form-control" id="quota_notification_sender" name="sender" value="{{ qn_data.sender }}" placeholder="quota-warning@localhost">
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <label for="quota_notification_subject">{{ lang.admin.quota_notification_subject }}:</label>
              <input type="text" class="form-control" id="quota_notification_subject" name="subject" value="{{ qn_data.subject }}" placeholder="Quota warning">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <legend data-bs-target="#quota_template" style="cursor:pointer" unselectable="on" data-bs-toggle="collapse">
              <i style="font-size:10pt;" class="bi bi-plus-square"></i> {{ lang.admin.quarantine_notification_html|raw }}
            </legend>
            <hr />
            <div id="quota_template" class="collapse">
              <!-- <small>{{ lang.admin.quota_notifications_vars }}</small><br><br>-->
              <textarea autocorrect="off" spellcheck="false" autocapitalize="none" class="form-control textarea-code" rows="20" name="html_tmpl">{{ qn_data.html_tmpl|raw }}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <div>
              <br>
              <a type="button" class="btn btn-sm d-block d-sm-inline btn-success" data-action="edit_selected"
                 data-item="quota_notification"
                 data-id="quota_notification"
                 data-api-url='edit/quota_notification'
                 data-api-attr='{}'><i class="bi bi-check-lg"></i> {{ lang.user.save_changes }}</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
