<div role="tabpanel" class="tab-pane" id="tab-config-password-policy">
  <div class="panel panel-default">
    <div class="panel-heading">{{ lang.admin.password_policy }}</div>
    <div class="panel-body">
      <form class="form-horizontal" data-id="passwordpolicy" role="form" method="post">
        {% for name, value in password_complexity %}
          {% if name == 'length' %}
            <div class="form-group">
              <label class="control-label col-sm-3" for="length">{{ lang.admin.password_length }}:</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" min="3" max="64" name="length" id="length" value="{{ value }}" required>
              </div>
            </div>
          {% else %}
            <input type="hidden" name="{{ name }}" value="0">
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <label>
                  <input type="checkbox" name="{{ name }}" id="{{ name }}" value="1" {% if value == 1 %}checked{% endif %}> {{ lang.admin['password_policy_'~name] }}
                </label>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="btn-group">
              <button class="btn btn-sm visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline btn-success" data-item="passwordpolicy" data-action="edit_selected" data-id="passwordpolicy" data-api-url='edit/passwordpolicy' data-api-attr='{}' href="#"><i class="bi bi-check-lg"></i> {{ lang.admin.save }}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
