<div class="tab-pane fade" id="tab-config-fwdhosts" role="tabpanel" aria-labelledby="tab-config-fwdhosts">
  <div class="card mb-4">
    <div class="card-header d-flex fs-5">
      <button class="btn d-md-none flex-grow-1 text-start" data-bs-target="#collapse-tab-config-fwdhosts" data-bs-toggle="collapse" aria-controls="collapse-tab-config-fwdhosts">
        {{ lang.admin.forwarding_hosts }}
      </button>
      <span class="d-none d-md-block">{{ lang.admin.forwarding_hosts }}</span>
    </div>
    <div id="collapse-tab-config-fwdhosts" class="card-body collapse" data-bs-parent="#admin-content">
      <p style="margin-bottom:40px">{{ lang.admin.forwarding_hosts_hint }}</p>
      <table id="forwardinghoststable" class="table table-striped dt-responsive w-100"></table>
      <div class="mass-actions-admin mb-4">
        <div class="btn-group btn-group-sm">
          <button type="button" id="toggle_multi_select_all" data-id="fwdhosts" class="btn btn-sm btn-xs-half d-block d-sm-inline btn-secondary">{{ lang.mailbox.toggle_all }}</button>
          <a class="btn btn-sm btn-xs-half d-block d-sm-inline btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#">{{ lang.mailbox.quick_actions }}</a>
          <ul class="dropdown-menu top100">
            <li><a class="dropdown-item" data-action="edit_selected" data-id="fwdhosts" data-api-url='edit/fwdhost' data-api-attr='{"keep_spam":"0"}' href="#">Enable spam filter</a></li>
            <li><a class="dropdown-item" data-action="edit_selected" data-id="fwdhosts" data-api-url='edit/fwdhost' data-api-attr='{"keep_spam":"1"}' href="#">Disable spam filter</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" data-action="delete_selected" data-id="fwdhosts" data-api-url='delete/fwdhost' href="#">{{ lang.admin.remove }}</a></li>
          </ul>
        </div>
      </div>
      <legend>{{ lang.admin.add_forwarding_host }}</legend><hr />
      <p class="text-muted">{{ lang.admin.forwarding_hosts_add_hint }}</p>
      <form class="form" data-id="fwdhost" role="form" method="post">
        <div class="mb-2">
          <label for="fwdhost_hostname">{{ lang.admin.host }}</label>
          <input class="form-control" id="fwdhost_hostname" name="hostname" placeholder="example.org" required>
        </div>
        <div class="mb-4">
          <select data-width="200px" class="form-control" id="filter_spam" name="filter_spam" title="{{ lang.user.spamfilter }}" required>
            <option value="1">{{ lang.admin.active }}</option>
            <option value="0">{{ lang.admin.inactive }}</option>
          </select>
        </div>
        <button class="btn btn-sm d-block d-sm-inline btn-success" data-action="add_item" data-id="fwdhost" data-api-url='add/fwdhost' data-api-attr='{}' href="#"><i class="bi bi-plus-lg"></i> {{ lang.admin.add }}</button>
      </form>
    </div>
  </div>
</div>
