<div class="thumbnail mb-4">
  <img class="img-thumbnail mb-4{% if dark %} bg-black{% endif %}" src="{{ logo }}" alt="mailcow logo">
  <div class="caption">
    <span class="badge fs-5 bg-info">{{ logo_specs.geometry.width }}x{{ logo_specs.geometry.height }} px</span>
    <span class="badge fs-5 bg-info">{{ logo_specs.mimetype }}</span>
    <span class="badge fs-5 bg-info">{{ logo_specs.fileSize }}</span>
  </div>
</div>

